<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ule.fenxiao.dao.ListingMapper">
    <resultMap id="BaseResultMap" type="com.ule.fenxiao.vo.Listing">
        <id column="LIST_ID" property="listId" jdbcType="NUMERIC"/>
        <result column="LIST_NAME" property="listName" jdbcType="VARCHAR"/>
        <result column="STORE_NAME" property="storeName" jdbcType="VARCHAR"/>
        <result column="STORE_ID" property="storeId" jdbcType="NUMERIC"/>
        <result column="MERCHANT_ID" property="merchantName" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap type="com.ule.fenxiao.vo.Listing" id="listingMap">
        <id column="LIST_ID" property="listId" jdbcType="NUMERIC"/>
        <result column="LIST_NAME" property="listName" jdbcType="VARCHAR"/>
        <result column="STORE_NAME" property="storeName" jdbcType="VARCHAR"/>
        <result column="STORE_ID" property="storeId" jdbcType="NUMERIC"/>
        <result column="MERCHANT_ID" property="merchantName" jdbcType="VARCHAR"/>

        <!-- property表示集合类型属性名称，ofType表示集合中的对象是什么类型 -->
        <collection property="itemList" javaType="java.util.List" ofType="com.ule.fenxiao.vo.Item">
            <id property="itemId" column="ITEM_ID"/>
            <result property="itemName" column="ITEM_NAME"/>
        </collection>
    </resultMap>

    <select id="findAll" resultMap="BaseResultMap" resultType="com.ule.fenxiao.vo.Listing">
        SELECT * FROM LISTING
    </select>
    <select id="findByListId" parameterType="int" resultMap="listingMap" resultType="com.ule.fenxiao.vo.Listing">
        SELECT * FROM LISTING M,ITEM N WHERE  M.LIST_ID=N.LIST_ID  AND M.LIST_ID=#{listId}
    </select>
</mapper>